@import url("normalize.css");
@import url("fonts/Inter/stylesheet.css");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

button {
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(110, 190, 45);
	color: white;
	gap: 64px;

	&.start {
		background-color: rgb(190, 45, 45);

		.stop-button {
			display: flex;
		}

		.start-button {
			display: none;
		}

		.reset-button {
			display: flex;
		}
	}

	&.pause {
		background-color: rgb(190, 180, 45);

		.resume-button {
			display: flex;
		}

		.start-button {
			display: none;
		}

		.reset-button {
			display: flex;
		}
	}
}

.controls {
	display: flex;
	gap: 4px;
}

.time {
	font-weight: bold;
	font-size: 64px;
}

.resume-button {
	display: none;
}

.reset-button {
	display: none;
}

.time-input {
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
}

.stop-button {
	display: none;
}
